

.sample-docs-api {
  padding-top: 15px;
  padding-left: 15px;
  //border-bottom: 1px solid $color-gray-100;

  &:last-of-type {
    border-bottom: 0;
  }
}

.sample-docs-api-title {
  code {
    padding: 0 10px 5px 0;
    background: transparent;
    //color: $color-primary;
    font-size: 14px;
  }
}

.sample-docs-api-type a:not(:last-of-type) {
  &:after {
    content: ' | ';
  }
}

.sample-docs-api-description {
  padding: 5px 10px;
}

.btn {
  color: $color-primary;
}

.tab-nav {
  padding: 5px 0 5px 0;
}

.tab-nav-item {
  cursor: pointer;
  padding: 5px;

  &.active {
    border-bottom: 2px solid $color-primary;
  }

  &.active,
  &.active i.fa {
    //background-color: $color-primary;
    color: $color-primary;
  }
}
