<hr>
<nav id="{{elementId}}-collapse" role="tablist">
	{{#if hasBlock}}
    {{yield (hash
              tabs=(component 'showcase/s-tabs')
              html=htmlTab
              hbs=hbsTab
    )}}
	{{else}}
    {{showcase/s-tabs tabs}}
	{{/if}}
</nav>