<div class="sample-snippet">
  {{#if @sourceId}}
    <Showcase::STabs @tabsInput={{array
      (hash title=this.title language=this.language icon=this.icon)
    }}>
      <FromElsewhere @name={{@sourceId}} />
    </Showcase::STabs>
  {{else}}
    <Showcase::STabs @tabsInput={{array
      (hash title=this.title language=this.language src=@src icon=this.icon)
    }} />
  {{/if}}
</div>