<hr>

<nav id="{{this.elementId}}-collapse" role="tablist">
  {{#if hasBlock}}
    {{yield
      (hash
        tabs=(component "showcase/s-tabs")
        html=this.htmlTab
        hbs=this.hbsTab
      )
    }}
  {{else}}
    <Showcase::STabs @tabsInput={{this.tabs}} />
  {{/if}}
</nav>